<div class="container-fluid">
  <div class="row">
    <div>
      <div class="page-title col-md-8 offset-md-2 stretch">О СЕРВИСЕ</div>
      <div class="divider col-md-8 offset-md-2"></div>
      <div class="page-description col-md-8 offset-md-2">"Центр Сервис" - сервисный центр по ремонту крупной и мелкой бытовой техники, ремонт отопительного и климатического оборудования любой сложности, ремонт цифровой электроники и гаджетов Запорожье.</div>
      <div class="col-md-8 offset-md-2">Каталог товаров, представленный на сайте компании, включает в себя следующие позиции:</div>
      <div class="separator"><div class="col-md-8 offset-md-2 stretch">1. БЕСПЛАТНАЯ ДИАГНОСТИКА: 2-3 ДНЯ</div></div>

      <div class="col-md-8 offset-md-2" style="padding-top: 30px;">Точная локализация неисправности является обязательным условием любого ремонта, как мелкой бытовой техники , так и крупной электротехники, включая профессиональное оборудование. Чтобы точно определить техническое состояния электрооборудования, мы используем профессиональное сертифицированное оборудование для диагностики крупной и мелкой бытовой электротехники.
      </div>
      <div class="col-md-8 offset-md-2" style="padding-top: 30px;">
        <em><b>Примечание</b></em>: диагностическое оборудование расположено на базе сервисного центра "Центр  сервис", поэтому вашу технику придется доставить в наш пункт приема.
      </div>
    </div>
  </div>
</div>
