<div class="container-fluid">
  <div class="parallax-wrapper">
    <div class="parallax"></div>
    <div class="parallax-text-wrapper">
      <!--<div class="parallax-text">Ремонт мелкой и крупной бытовой техники в Запорожье и Запорожской области</div>-->
      <!--<div class="parallax-text">Запорожье и Запорожской области</div>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="page-title stretch">О сервисном центре "Центр сервис"</div>
      <div class="page-description">"Центр Сервис" - сервисный центр по ремонту крупной и мелкой
        бытовой техники, ремонт отопительного и климатического оборудования любой сложности, ремонт цифровой электроники
        и гаджетов Запорожье.
      </div>
      <div class="divider"></div>
      <div class="list">
        <div >Каталог товаров, представленный на сайте компании, включает в себя следующие
          позиции:
        </div>
        <div class="list-name">
          Ремонт крупной бытовой техники
        </div>
        <ul>
          <li>- Ремонт стиральных машин </li>
          <li>- Ремонт кондиционеров </li>
          <li>- Ремонт бойлеров</li>
          <li>- Ремонт сушильных машин </li>
          <li>- Ремонт посудомоечных машин </li>
          <li>- Ремонт холодильников </li>
          <li>- Ремонт ледегенераторов </li>
          <li>- Ремонт холодильных ларей</li>
          <li>- Ремонт холодильных витрин </li>
          <li>- Ремонт морозильных камер </li>
          <li>- Ремонт осушителей воздуха </li>
          <li>- Ремонт измельчителей</li>
          <li>- Ремонт микроволновых печей </li>
          <li>- Ремонт варочных поверхностей (элетро) </li>
          <li>- Ремонт электроплит </li>
          <li>- Ремонт духовых печей </li>
          <li>- Ремонт вытяжек</li>
          <li>- Ремонт гироскутеров</li>
          <li>- Ремонт гиробордов</li>
          <li>- Ремонт электроплит </li>
          <li>- Ремонт квадрокоптер</li>
        </ul>
        <div class="list-name">
          Ремонт мелкой бытовой техники
        </div>
        <ul>
          <li>- Ремонт мясорубки</li>
          <li>- Ремонт кухонного комбайна</li>
          <li>- Ремонт блендера</li>
          <li>- Ремонт миксера</li>
          <li>- Ремонт кофеварки</li>
          <li>- Ремонт кофемашины</li>
          <li>- Ремонт пароварки </li>
          <li>- Ремонт мультиварки </li>
          <li>- Ремонт хлебопечки</li>
          <li>- Ремонт соковыжималки</li>
          <li>- Ремонт овощесушилки</li>
          <li>- Ремонт пылесоса </li>
          <li>- Ремонт утюга</li>
        </ul>
      </div>

      <div class="separator">
        <div class="stretch diag">1. Бесплатная диагностика: 2-3 дня</div>
      </div>

      <div style="padding-top: 30px;">Точная локализация неисправности является
        обязательным условием любого ремонта, как мелкой бытовой техники , так и крупной электротехники, включая
        профессиональное оборудование. Чтобы точно определить техническое состояния электрооборудования, мы используем
        профессиональное сертифицированное оборудование для диагностики крупной и мелкой бытовой электротехники.
      </div>
      <div style="padding-top: 30px;">
        <em><b>Примечание</b></em>: диагностическое оборудование расположено на базе сервисного центра "Центр сервис",
        поэтому вашу технику придется доставить в наш пункт приема.
      </div>
      <div class="accordion">
        <mat-accordion>
          <div *ngFor="let category of page; let i = index;" class="category">
            <mat-expansion-panel (opened)="setStep(i)" [expanded]="step === i">
              <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
                <div class="subtitle">
                  <div class="sub">{{category.name}}</div>
                </div>
              </mat-expansion-panel-header>
              <div class="description">
                {{category.description}}
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
