<div class="footer">
  <div class="container">
    <div class="remont-item">
      <a class="" (click)="scrollTop()" routerLink="/">
        <img alt="navbar" class="footer-logo" src="assets/logo.jpg"/>
        <div>Сервисный центр "Центр Сервис"</div>
      </a>
      <div class="">Наш адрес:</div>
      <div>г. Запорожье, ул. Громовой 17</div>
      <div>
        <button class="site-button call-button" type="button" attr.aria-label="{{'Вызвать мастера на дом'}}" (click)="masterDialog()">Вызвать мастера</button>
      </div>
    </div>
    <div class="remont-item">
      <div class="remont-title">Ремонт мелкой бытовой техники:</div>
      <div class="remont-href"><a routerLink="/product-details/электромясорубки" (click)="scrollTop()">Ремонт электромясорубки</a></div>
      <div class="remont-href"><a routerLink="/product-details/электромясорубки" (click)="scrollTop()">Ремонт кухонных комбаинов</a></div>
      <div class="remont-href"><a routerLink="/product-details/блендеры" (click)="scrollTop()">Ремонт блендера</a></div>
      <div class="remont-href"><a routerLink="/product-details/миксеры" (click)="scrollTop()">Ремонт миксера</a></div>
      <div class="remont-href"><a routerLink="/product-details/кофемашины" (click)="scrollTop()">Ремонт кофемашин и кофеварок</a></div>
      <div class="remont-href"><a routerLink="/product-details/мультиварки" (click)="scrollTop()">Ремонт мультиварки</a></div>
      <div class="remont-href"><a routerLink="/product-details/кофемолки" (click)="scrollTop()">Ремонт кофемолки</a></div>
    </div>
    <div class="remont-item">
      <div class="remont-title">Ремонт крупной бытовой техники:</div>
      <div class="remont-href"><a routerLink="/product-details/холодильники" (click)="scrollTop()">Ремонт холодильников</a></div>
      <div class="remont-href"><a routerLink="/product-details/кондиционеры" (click)="scrollTop()">Ремонт кондиционеров</a></div>
      <div class="remont-href"><a routerLink="/product-details/стиральные-машины" (click)="scrollTop()">Ремонт стиральных машин</a></div>
      <div class="remont-href"><a routerLink="/product-details/бойлеры" (click)="scrollTop()">Ремонт бойлеров</a></div>
      <div class="remont-href"><a routerLink="/product-details/посудомойки" (click)="scrollTop()">Ремонт посудомоечных машин</a></div>
      <div class="remont-href"><a routerLink="/product-details/гироскутеры" (click)="scrollTop()">Ремонт гироскутеров</a></div>
      <div class="remont-href"><a routerLink="/product-details/гироборды" (click)="scrollTop()">Ремонт гиробордов</a></div>
      <div class="remont-href"><a routerLink="/product-details/квадракоптеры" (click)="scrollTop()">Ремонт квадрокоптеров</a></div>
    </div>
    <div class="remont-item">
      <div class="remont-title">Ремонт электроники и ТВ</div>
      <div class="remont-href"><a routerLink="/product-details/компьютеры" (click)="scrollTop()">Ремонт компьютеров</a></div>
      <div class="remont-href"><a routerLink="/product-details/ноутбуки" (click)="scrollTop()">Ремонт ноутбуков</a></div>
      <div class="remont-href"><a routerLink="/product-details/телефоны" (click)="scrollTop()">Ремонт телефонов</a></div>
    </div>
  </div>
</div>
<div class="footer-copyright text-center py-3">© {{year}} Copyright:
  <a routerLink="/">Сервисный центр "Центр Сервис"</a>
</div>
