<div class="footer">
  <div class="container">
    <div class="remont-item">
      <a class="" (click)="scrollTop()" routerLink="/">
        <img alt="navbar" class="footer-logo" src="assets/logo.jpg"/>
        <div>Сервисный центр "Центр Сервис"</div>
      </a>
      <div class="">Наш адрес:</div>
      <div>г. Запорожье, ул. Громовой 17</div>
      <div>
        <button class="site-button call-button" type="button" attr.aria-label="{{'Вызвать мастера на дом'}}" (click)="masterDialog()">Вызвать мастера</button>
      </div>
    </div>
    <div class="remont-item">
      <div class="remont-title">Ремонт мелкой бытовой техники:</div>
      <div class="remont-href"><a routerLink="/product-details/электромясорубки">Ремонт электромясорубки</a></div>
      <div class="remont-href"><a routerLink="/product-details/электромясорубки">Ремонт кухонных комбаинов</a></div>
      <div class="remont-href"><a routerLink="/product-details/блендеры">Ремонт блендера</a></div>
      <div class="remont-href"><a routerLink="/product-details/миксеры">Ремонт миксера</a></div>
      <div class="remont-href"><a routerLink="/product-details/кофемашины">Ремонт кофемашин и кофеварок</a></div>
      <div class="remont-href"><a routerLink="/product-details/мультиварки">Ремонт мультиварки</a></div>
      <div class="remont-href"><a routerLink="/product-details/кофемолки">Ремонт кофемолки</a></div>
    </div>
    <div class="remont-item">
      <div class="remont-title">Ремонт крупной бытовой техники:</div>
      <div class="remont-href"><a routerLink="/product-details/холодильники">Ремонт холодильников</a></div>
      <div class="remont-href"><a routerLink="/product-details/кондиционеры">Ремонт кондиционеров</a></div>
      <div class="remont-href"><a routerLink="/product-details/стиральные-машины">Ремонт стиральных машин</a></div>
      <div class="remont-href"><a routerLink="/product-details/бойлеры">Ремонт бойлеров</a></div>
      <div class="remont-href"><a routerLink="/product-details/посудомойки">Ремонт посудомоечных машин</a></div>
      <div class="remont-href"><a routerLink="/product-details/гироскутеры">Ремонт гироскутеров</a></div>
      <div class="remont-href"><a routerLink="/product-details/гироборды">Ремонт гиробордов</a></div>
      <div class="remont-href"><a routerLink="/product-details/квадракоптеры">Ремонт квадрокоптеров</a></div>
    </div>
    <div class="remont-item">
      <div class="remont-title">Ремонт электроники и ТВ</div>
      <div class="remont-href"><a routerLink="/product-details/компьютеры">Ремонт компьютеров</a></div>
      <div class="remont-href"><a routerLink="/product-details/ноутбуки">Ремонт ноутбуков</a></div>
      <div class="remont-href"><a routerLink="/product-details/телефоны">Ремонт телефонов</a></div>
    </div>
  </div>
</div>
<div class="footer-copyright text-center py-3">© {{year}} Copyright:
  <a routerLink="/">Сервисный центр "Центр Сервис"</a>
</div>
