.cost-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
}

.page-title {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.divider {
  background-color: rgba(253, 216, 53, 1);
  opacity: 0.8;
  height: 3px;
  margin-top: 8px
}

.page-description {
  padding: 30px 15px;
}

.problem, .faq-item {
  padding-top: 50px;
}

.problem-title, .faq-title {
  font-weight: bold;
  padding-bottom: 20px;
}

.problems-wrapper, .faq-wrapper {
  padding-bottom: 50px;
}

.review-item {
  display: inline-flex;
  width: 475px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.reviews-wrapper {
  padding-top: 50px;
  text-align: center;
}

.review-image {
  width: 174px;
  display: inline-block;
}

.review-name {
  font-weight: bold;
}

.review-info {
  padding-left: 20px;
  padding-right: 20px;
}

.review-comment, .review-name {
  padding-bottom: 20px;
}

@media (max-width: 950px) {
  .page-title {
    font-size: 32px;
  }
  .title {
    font-size: 26px;
  }
}


@media (max-width: 646px) {
  .site-button {
    width: 180px;
  }
}

@media (max-width: 500px) {
  .cost-title {
    max-width: 190px;
  }
}

@media (max-width: 1564px) {
  .review-item {
    width: auto;
    margin-right: 0;
    .review-image img {
      width: 146px;
      height: 146px;
      display: inline-block;
    }
  }
}
