<nav><div (window:resize)="onResize()" class="navbar nav">
  <div class="hamburger">
    <button (click)="toggleNavBar()" aria-label="Меню" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a class="navbar-brand stretch " (click)="scrollTop()" routerLink="/"><img alt="navbar" class="navbar-logo" src="assets/logo.jpg"/>Сервисный
    центр "Центр Сервис"</a>
  <div class="nav-subitems">
    <!--<div class="nav-link-wrapper menu-item-hide">
      <a class="{{route === '/' ? 'nav-link selected-route' : 'nav-link'}}" *ngIf="menuItemsAvailable > 0" routerLink="/">Главная</a>
    </div>
    <div class="nav-link-wrapper menu-item-hide">
      <a class="{{route === '/about' ? 'nav-link selected-route' : 'nav-link'}}" *ngIf="menuItemsAvailable > 1" routerLink="about/">О сервисе</a>
    </div>
    <div class="nav-link-wrapper menu-item-hide">
      <a class="{{route === '/repair/small-repair' ? 'nav-link selected-route' : 'nav-link'}}"
         routerLink="repair/small-repair" *ngIf="menuItemsAvailable > 2">Ремонт мелкой бытовой техники</a>
    </div>
    <div class="nav-link-wrapper menu-item-hide"><a
      class="{{route === '/repair/electronic-repair' ? 'nav-link selected-route' : 'nav-link'}}"
      routerLink="repair/electronic-repair" *ngIf="menuItemsAvailable > 3">Ремонт электроники и ТВ</a>
    </div>
    <div class="nav-link-wrapper menu-item-hide"><a
      class="{{route === '/repair/climatic-repair' ? 'nav-link selected-route' : 'nav-link'}}"
      routerLink="repair/climatic-repair" *ngIf="menuItemsAvailable > 4">Ремонт
      отопительного и климатического оборудования</a></div>
    <div class="nav-link-wrapper menu-item-hide"><a
      class="{{route === '/repair/large-repair' ? 'nav-link selected-route' : 'nav-link'}}"
      routerLink="repair/large-repair" *ngIf="menuItemsAvailable > 5">Ремонт крупной бытовой техники</a>
    </div>-->
    <mat-menu #appMenu="matMenu" class="menu-item-hide">
      <button type="button" (click)="scrollTop()" *ngFor="let item of subMenuItems" mat-menu-item routerLink="{{item.route}}" attr.aria-label="{{item.name}}">{{item.name}}</button>
    </mat-menu>
    <button aria-label="Услуги" *ngIf="subMenuItems.length > 0" [matMenuTriggerFor]="appMenu" class="nav-link-wrapper menu-item-hide menu-button"
            mat-icon-button>
      Услуги
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <div class="nav-link-wrapper menu-item-hide"><a
      class="{{route === 'about/' ? 'nav-link selected-route' : 'nav-link'}}"
      routerLink="about/" (click)="scrollTop()">О сервисе</a>
    </div>
    <div class="nav-link-wrapper menu-item-hide"><a
      class="{{route === 'contacts/' ? 'nav-link selected-route' : 'nav-link'}}"
      routerLink="contacts/" (click)="scrollTop()">Контакты</a>
    </div>
    <!--<a class="nav-link menu-item-hide">
      <mat-icon>search</mat-icon>
    </a>-->
  </div>

</div>

<div class="{{opened ? 'side-menu' : 'side-menu hidden-menu'}}">
  <div class="{{opened ? 'overlay' : 'overlay overlay-hidden'}}" (click)="disableNavBar()"></div>
  <div class="{{opened ? 'mobile-menu-items' : 'mobile-menu-items-hidden'}}">
    <div class="hamburger">
      <button aria-label="Меню" (click)="toggleNavBar()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="nav-link-wrapper">
      <a class="{{route === '/repair/small-repair' ? 'nav-link selected-route' : 'nav-link'}}"
         routerLink="repair/small-repair" (click)="disableNavBar()">Ремонт мелкой бытовой техники</a>
    </div>
    <div class="nav-link-wrapper"><a
      class="{{route === '/repair/electronic-repair' ? 'nav-link selected-route' : 'nav-link'}}"
      routerLink="repair/electronic-repair" (click)="disableNavBar()">Ремонт электроники и ТВ</a>
    </div>
    <div class="nav-link-wrapper"><a
      class="{{route === '/repair/large-repair' ? 'nav-link selected-route' : 'nav-link'}}"
      routerLink="repair/large-repair" (click)="disableNavBar()">Ремонт крупной бытовой техники</a></div>
    <div class="nav-link-wrapper "><a
      class="{{route === 'about/' ? 'nav-link selected-route' : 'nav-link'}}"
      routerLink="about/"  (click)="disableNavBar()">О сервисе</a>
    </div>
    <div class="nav-link-wrapper"><a
      class="{{route === 'contacts/' ? 'nav-link selected-route' : 'nav-link'}}"
      routerLink="contacts/"  (click)="disableNavBar()">Контакты</a>
    </div>
  </div>
</div>
</nav>

