.nav {
  position: fixed;
  z-index: 1;
  background: white;
  width: 100%;
  .nav-link {
    padding: 3px 10px;
  }
  .nav-link:hover {
    background: #343a40 !important;
    color: white !important;
    cursor: pointer !important;
  }
}

.selected-route {
  background: #343a40 !important;
  color: white !important;
  cursor: pointer !important;
}

