<div class="navbar nav">
  <a class="navbar-brand" routerLink="/">Сервисный центр "Центр Сервис"</a>
  <a class="nav-link" routerLink="/">Главная</a>
  <a class="nav-link" routerLink="first/">О сервисе</a>
  <a class="nav-link" routerLink="second/">Ремонт мелкой бытовой техники</a>
  <a class="nav-link" routerLink="third/">Ремонт электроники и ТВ</a>
  <a class="nav-link">Ремонт отопительного и климатического оборудования</a>
  <a class="nav-link">Ремонт крупной бытовой техники</a>
  <a class="nav-link"><mat-icon>search</mat-icon></a>
</div>
