<h2>СЕРВИСНЫЙ ЦЕНТР "ЦЕНТР СЕРВИС" В ЗАПОРОЖЬЕ</h2>
<div class="subtitle">Ремонт мелкой бытовой техники в Запорожье</div>
<div class="items">
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
</div>
<div class="subtitle">Ремонт мелкой бытовой техники в Запорожье</div>
<div class="items">
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
</div>
<div class="subtitle">Ремонт мелкой бытовой техники в Запорожье</div>
<div class="items">
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
</div>
<div class="subtitle">Ремонт мелкой бытовой техники в Запорожье</div>
<div class="items">
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="assets/1.png">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
</div>

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
