<h2>СЕРВИСНЫЙ ЦЕНТР "ЦЕНТР СЕРВИС" В ЗАПОРОЖЬЕ</h2>
<div class="subtitle">Ремонт мелкой бытовой техники в Запорожье</div>
<div class="items">
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
</div>
<div class="subtitle">Ремонт мелкой бытовой техники в Запорожье</div>
<div class="items">
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
</div>
<div class="subtitle">Ремонт мелкой бытовой техники в Запорожье</div>
<div class="items">
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
</div>
<div class="subtitle">Ремонт мелкой бытовой техники в Запорожье</div>
<div class="items">
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
  <div class="item">
    <div class="item-top">
      <img src="https://lh3.googleusercontent.com/1b_YvrLwv5gXpd7wmICKLfTjbC_U63mwZfa5S_OuW5pouu5ZzJgBfhTt5tNhoZ9EqrL5XF8=w371">
    </div>
    <div class="item-bottom">
      <div class="item-title">Ремонт кофемашин и кофеварок на дому</div>
      <div class="item-description">Узнать стоимость ремонта кофемашин и кофеварок в Запорожье</div>
      <button mat-button>Узнать цену</button>
    </div>
  </div>
</div>
