<div (window:resize)="onResize()" class="container-fluid">
  <div class="parallax-wrapper">
    <div class="parallax"></div>
    <div class="parallax-text-wrapper">
      <div class="parallax-text">Ремонт мелкой и крупной бытовой техники в</div>
      <div class="parallax-text">Запорожье и Запорожской области</div>
    </div>
  </div>
  <!--<h2>Сервисный центр "Центр Сервис" в Запорожье</h2>-->
  <mat-accordion>
    <div *ngFor="let category of page; let i = index;" class="category">
      <section>
      <mat-expansion-panel (opened)="setStep(i)" [expanded]="step === i">
        <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
          <div class="subtitle">
            <div class="col-md-8 offset-md-2"><a [routerLink]="[category.route]">{{category.name}}</a></div>
          </div>
        </mat-expansion-panel-header>
        <div class="items row">
          <div class="carousel col-md-8">
            <div *ngFor="let item of category.items; let i = index;" class="item card">
              <div class="item-top card-img-top">
                <img alt="{{item.image}}" src="{{item.image}}">
              </div>
              <div class="item-bottom card-body">
                <div class="item-title card-title">{{item.name}}</div>
                <div class="item-description card-text">{{item.description}}</div>
                <button aria-label="Узнать цену" [routerLink]="['/product-details', item.route]" class="buy-button" mat-button>Узнать цену
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      </section>
    </div>
  </mat-accordion>
</div>
