@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: "Roboto Condensed",Helvetica,Arial,"Lucida Grande",sans-serif !important;
  margin: 0 !important;
  line-height: 1.6 !important;
  font-size: 20px !important;
}

div:focus, input:focus, button:focus {
  outline: 0;
}

a {
  color: rgb(33, 33, 33) !important;
  text-decoration: none !important;
}

.parallax-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  margin-bottom: 40px;
  border-bottom: 11px solid rgba(245,180,18,1);
}

.parallax-text-wrapper {
  color: white;
  font-size: 32px;
  position: absolute;
  top: calc(50% - 35px);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

.parallax-text {
  text-align: center;
}

.parallax {
  min-height: 370px;
  background-color: rgba(33,33,33,1);
  opacity: 0.5;
  display: block;
}

.slick-slide img {
  width: 100%;
}

.separator {
  background: #f4f4f4;
  //line-height: 100px;
  //text-decoration: underline;
  font-size: 38px;
  padding: 40px 0;
}

.mat-expansion-indicator {
  margin-left: -30px !important;
  margin-right: 22px;
}


.mat-form-field-infix {
  width: 230px !important;
}

@media (max-width: 400px) {
  .mat-form-field-infix {
    width: 100% !important;
  }
}

.call-button {
  /*width: 300px !important;*/
}


.site-button {
  width: 270px;
  height: 35px;
  background-color: rgba(253,216,53,1);
  color: rgba(61,61,61,1);
  border: 1px solid rgba(61,61,61,1);
  font-weight: 400;
  border-radius: 4px;
}
.stretch {
  //font-stretch: condensed;
  //font-weight: bold;
}

.page-title {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.divider {
  background-color: rgba(253,216,53,1);
  opacity: 0.8;
  height: 3px;
  margin-top: 8px
}

.page-description {
  padding: 30px 15px;
}

.call-button {
  font-size: 20px;
}

.site-button-wrapper {
  text-align: center;
  padding-bottom: 62px;
}

@media (max-width: 460px) {
  .navbar-logo {
    display: none;
  }
}
@media (max-width: 380px) {
  a.navbar-brand.stretch {
    font-size: 17px;
  }
}

@media (max-width: 760px) {
  .menu-item-hide {
    display: none;
  }
  .parallax-text-wrapper {
    font-size: 20px;
  }
  .controls {
    display: none;
  }
}

@media (max-width: 766px) {
}

@media (max-width: 342px) {
  a.navbar-brand.stretch {
    font-size: 15px;
  }
  .subtitle a {
    font-size: 10px;
  }
  .title {
    font-size: 23px;
  }
}

@media (max-width: 1000px) {
  .site-button {
    width: 180px;
  }
}

@media (max-width: 500px) {
  .page-title {
    font-size: 25px !important;
  }
  .diag {
    font-size: 25px;
  }

  .slick-dots {
    width: 95%;
  }
}

::-webkit-scrollbar {
  -webkit-border-radius: 100px;
  background-color: rgba(0,0,0,0);
  width: 9px;
}

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 1px solid rgba(255,255,255,0.4);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
